@using GameDeckWebApplication.Models


@model EditeurVM

@{
    string title = Model.Id <= 0 ? "Création d'un éditeur" : "Edition d'un éditeur";
    ViewBag.Title = title;
}

<h1>@title</h1>

@Html.EditorForModel(Model)
