@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<a href="https://github.com/thomasMagalhaes30">
    <img src="https://avatars.githubusercontent.com/u/74173960?s=400&u=5cc45f21dcce68e6f48fb144be225112e3dfcbb8&v=4"  class="rounded-circle pp-github" alt="thomas pp" />
</a>
<a href="https://github.com/Luliame">
    <img src="https://avatars.githubusercontent.com/u/51924480?v=4" class="rounded-circle pp-github" alt="luliame pp" />
</a>
