@using GameDeckWebApplication.Models.Extentions;

@{
    ViewBag.Title = "Home Page";
}

<h1>GameDeck, les jeux en fête !</h1>


<h2>Les dernières évaluations ajoutées</h2>
<div id="last-evaluations">
    <div class="d-inline-block">
        @Html.CustomLoading()
    </div>
</div>


<h2>Les jeux les mieux notés</h2>
<div id="best-games">
    <div class="d-inline-block" >
        @Html.CustomLoading()
    </div>
</div>

  
<script type="text/javascript">
    // charge le contenu de l'appel ajax dans un div
    function loadUrlInDiv(url, divId) {
        $.ajax({
            url: url,
            method: "GET",
        })
        .done(function (response) {
            $(`#${divId}`).empty().append(response);
        })
        .fail(function (error) {
            console.log(error);
            $(`#${divId}`).empty().append("<p class='fs-5 fw-bold text-danger'>Une erreur est survenu</p>");
        })
    }

    // chargement async des dernières évaluations
    function loadLastEvaluations() {
        loadUrlInDiv("@Url.Action("LastEvaluations", "Evaluation")", "last-evaluations");
    }

    // chargement async les meilleurs jeux
    function loadBestGames() {
        loadUrlInDiv("@Url.Action("BestGames", "Jeu")", "best-games");
    }

    $(document).ready(function () {
        loadLastEvaluations();
        loadBestGames();
    });


</script>
