@using GameDeckWebApplication.Models

@model List<JeuVM>

@{
    ViewBag.Title = "Les jeux";
}

<h1>Les jeux</h1>

@Html.ActionLink("Ajouter un jeu", "Edit", null, new { @class = "btn btn-primary w-100" })

@Html.Partial("_List", Model)
